body {
    /* background-color: rgb(149, 145, 212); */
    background: url("https://github.com/ZeChrales/PogoAssets/blob/master/static_assets/png/Parkscene_Background.png?raw=true");
    background-size: auto 670px;
    background-attachment: fixed;
}

/* .body-home-page {
    background: url("https://github.com/ZeChrales/PogoAssets/blob/master/static_assets/png/Parkscene_Background.png?raw=true");
    background-size: auto 670px;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.home-page {
    margin-top: 200px;
}
h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Fredoka One", cursive;
    color: white;
    letter-spacing: 5px;
    font-size: 3em;
    text-shadow: 3px 3px #384E77;
    text-align: center;
}
.balance {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Fredoka One", cursive;
    color: white;
    letter-spacing: 5px;
    font-size: 3em;
    text-shadow: 3px 3px #384E77;
    text-align: center;
}

  
h1 span {
    position: relative;
    top: 10px;
    display: inline-block;
    animation: bounce .7s ease infinite alternate;
}
  
  #scramble span:nth-child(2) { animation-delay: .1s; }
  #scramble span:nth-child(3) { animation-delay: .2s; }
  #scramble span:nth-child(4) { animation-delay: .3s; }
  #scramble span:nth-child(5) { animation-delay: .4s; }
  #scramble span:nth-child(6) { animation-delay: .5s; }
  #scramble span:nth-child(7) { animation-delay: .6s; }
  #scramble span:nth-child(8) { animation-delay: .7s; }
  #scramble span:nth-child(9) { animation-delay: .8s; }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s; }
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  h1 span:nth-child(9) { animation-delay: .8s; }
  
@keyframes bounce {
    100% {
      top: -10px;
      text-shadow: 2px 2px 0 #384E77,
                   2px 2px 0 #384E77,
                   2px 3px 0 #384E77,
                   3px 4px 0 #384E77,
                   3px 5px 0 #384E77,
                   4px 6px 0 #384E77,
                   5px 7px 0 #384E77,
                   5px 8px 0 #384E77,
                   6px 9px 0 #384E77,
                   25px 30px 25px rgba(0, 0, 0, .2);
    }
}

.log-in-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#log-in-form {
    size: large;
}

.log-in-button {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #1b6ab9 5%, #378de5 100%);
	background-color:#9fbedd;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    height: 60px;
}

.log-in-button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.log-in-button:active {
	position:relative;
	top:1px;
}

.nav-bar {
    background-color: #FBE4ff;
    height: 50px;
    width: 110%;
    margin-top: -7px;
    margin-left: -8px;
    font-family: "Fredoka One", bold;
}

a {
    padding-left: 50px;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Fredoka One", bold;
  }

a:hover {
    background-color: #FFCBC1;
    color: white;

}
.nav-balance {
    margin-left: 720px;
}

.nav-logout {
    margin-left: 15px;
}

.monster-container, .user-monsters-container, .inventory-container, .egg-container{
    /* margin-top: 50px; */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    /* max-width: 90%; */
    margin: 20px auto;
    /* padding: 15px; */
    max-width: 960px;
    padding: 2.25%; 
    width: 85%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
}
/* .monster-tile {
    display: inline-block;
    height: 100px;
    width: 20%;
    border-width: 2px 2px;
    border-style: solid;
    border-color: black;

} */


.monster-tile {
    max-width: 200px;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    /* background-color: lightgrey; */
    border-style: solid;
    border-color: black;
    background-color: rgba(132, 92, 160, 0.4);
    font-family: "Fredoka One", bold;
}

.inventory-tile, .item-tile {
    max-width: 200px;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    /* background-color: lightgrey; */
    border-style: solid;
    border-color: black;
    background-color: rgba(132, 92, 160, 0.4);
    font-family: "Fredoka One", bold;
}

.inventory-tile img:hover, .item-tile img:hover {
    height: 25%;
    width: auto;
}

.inventory-tile p, .item-tile p {
    padding: 0px 0;
    text-align: center;
}

#normal img {
    max-width: 50%;
    padding: 25px;
    border-radius: 25px;
    background-color: #CCEEFF;
}

.monster-tile > img {
    
}



#epic img {
    max-width: 50%;
    padding: 25px;
    border-radius: 25px;
    background-color:#FFFFCC;
}

#legendary img{
    max-width: 50%;
    padding: 5px;
    border-radius: 25px;
    background-color: #FFAADD;
}

p {
    padding: 70px 0;
    text-align: center;
}

#summoned-monster {
    max-width: 200px;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    /* background-color: lightgrey; */
    border-style: solid;
    border-color: black;
    background-color: rgba(132, 92, 160, 0.4);
    font-family: "Fredoka One", bold;
}

#summoned-monster p {
    padding: 0px 0;
    text-align: center;
}

.profile-page {
    margin: 0;
    /* position: absolute; */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 50px;
    margin-left: 140px;
    display: inline-block;
    /* flex-flow: row wrap; */
    /* align-content: space-around; */
    justify-content: center;
    text-align: center;
    /* max-width: 90%; */
    /* padding: 15px; */
    max-width: 500px;
    padding: 1.25%;
    width: 60%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
}

.profile-page-img {
    display: inline-block;
    /* flex-flow: row wrap; */
    /* align-content: space-around; */
    justify-content: center;
    text-align: center;
    /* max-width: 90%; */
    margin-top: 50px;
    /* padding: 15px; */
    max-width: 500px;
    padding: 2.25%;
    width: 85%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
}

.edit-profile-page {
    display: inline-block;
    /* flex-flow: row wrap; */
    /* align-content: space-around; */
    justify-content: center;
    text-align: center;
    /* max-width: 90%; */
    margin-top: 50px;
    /* padding: 15px; */
    max-width: 500px;
    padding: 2.25%;
    width: 85%;
    border-radius: 25px;
}

.profile-page-img img {
    max-height: 500px;
    max-width: auto
}

.profile-page h3 {
    font-family: "Fredoka One", bold;
    font-size: 20;
}

#add-balance-form {
    background-color: #FFFFFF;
    width: 400px;
    height: 670px;
    margin-top: 30px;
    margin-left: 500px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
#sign-up-form {
    background-color: #FFFFFF;
    width: 400px;
    height: 450px;
    margin-top: 30px;
    margin-left: 500px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#edit-profile-form {
    transform: translateX(19%);
    justify-content: center;
    text-align: center;
    max-width: 500px;
    padding: 1.25%;
    height: 400px;
    width: 70%;
    border-radius: 25px;
    background-color: white;
}

.uni1 {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
.uni2 {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 16px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#add-balance-form label {
    margin-left: 100px;
}

.sign1 {
    padding-top: 40px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.sign2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.submit1 {
    cursor: pointer;
      border-radius: 1em;
      color: #fff;
      background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 25%;
      margin-top: 20px;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .submit2 {
    cursor: pointer;
      border-radius: 1em;
      color: #fff;
      background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 34%;
      margin-top: 20px;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .submit3 {
    cursor: pointer;
    border-radius: 1em;
    color: #fff;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
.inventory-display {
    margin-left: 185px;
    margin-right: 185px;
}